<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stiklingen</title>
</head>

<body>
  <!-- Include _header.html using EJS template engine -->
  <%- include('_header.html') %>

    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="container ">




      <div class="row">




      </div>
      <div class="row">


        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 mx-auto">
          <div class="row">
            <div class="allPost card-group  card-columns ">

            </div>

          </div>
        </div>


        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 mx-auto">
          <hr>

        </div>
      </div>
    </div>
    <!-- /container -->

    <script type="text/javascript">
      showFocus();
      showAllPosts();
    </script>



    <!-- Include _footer.html using EJS template engine -->
    <%- include('_footer.html') %>
</body>

</html>
